/* Full document styles ///////////////////////////////////////////////////////*/
* {
  box-sizing: border-box;
  color: white;
  font-family: 'Noto Sans HK', sans-serif;
}
body {
  overflow-y: scroll;
  background-image: url(https://media.discordapp.net/attachments/663309884934062110/794887438560526346/unknown.png);
  background-position: center;
  /* background-attachment: fixed; */
  background-size: 100%;
  text-align: center;
}
h1 {
  /* top of page heading */
  font-size: 40px
}

/*Flexbox styling//////////////////////////////////////////////////////////////*/
.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}
.flex-child {
  margin-bottom: 10px;
  height: auto;
  width: 60%;
  border-style: solid;
  border-color: rgba(8, 89, 143, 0.664);
  border-width: 1.5px;
  border-radius: 5px;
  background: rgba(55, 138, 166, 30%);
}
@media (max-width: 1007px) {
  .flex-child {
    width: 75%;
  }
}
@media (max-width: 640px) {
  .flex-child {
    width: 95%;
  }
}

/*Dropdown box Styling/////////////////////////////////////////////////////////*/
/* Title */
.form-class-title {
  padding: 14px 10px 10px 10px;
  min-height: 60px;
}
.form-class-title h2 {
  margin: 0;
}
.form-class-title img {
  float:left;
  margin-right: 8px;
  width: 34.4px;
}
/* List Content */
.form-class-content {
  padding: 5px;
}
.form-class-content ul {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100px;
}
.form-class-content li {
  display: block;
  float: left;
  margin: 5px 0 5px 0;
  width: 25%;
}
@media (max-width: 1007px) {
  .form-class-content li {
    width: 50%;
  }
}
@media (max-width: 640px) {
  .form-class-content li {
    width: 100%;
  }
}

/*Animation stuff//////////////////////////////////////////////////////////////*/
.hidden {
  display: none;
}
.rotate-animation {
  animation-name: rotate90;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}
@keyframes rotate90 {
  from{transform: rotate(0deg);}
  to{transform: rotate(90deg);}
}

.expand-animation {
  overflow: hidden;
  animation-name: expand;
  animation-timing-function: ease-in;
  animation-duration: 0.6s;
  animation-fill-mode: both;
}
@keyframes expand {
  from {max-height:1px; visibility: none;}
  to {max-height:200vh; visibility: visible;}
}
